body {
    font-family: 'Playfair Display', serif;
    color: #2d2829;
    background-color: #fbebea;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
}

.main-content {
    margin: 0 auto;
    width: 1140px;
    padding: 0 70px;
}

.contacts {
    padding-top: 100px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.contacts-content {
    width: 340px;

    /* Установите значение верхнего поля */
    padding-top: 20px;
}

.contacts-map {
    width: 760px;
}

.contacts h2 {
    font-size: 40px;
    line-height: 66px;

    /* Обнулите внешние отступы */
    margin: 0;

    /* Установите нижний отступ */
    margin-bottom: 45px;
}

.contact-list {
    /* Сбросьте стили списка по умолчанию */
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-item {
    /* Установите нижний отступ */
    margin-bottom: 20px;
}

.contact-item h3 {
    font-size: 20px;
    line-height: 27px;

    /* Обнулите внешние отступы */
    margin: 0;

    /* Установите нижний отступ */
    margin-bottom: 5px;
}

.contact-item address {
    font-style: normal;
}

.contact-item a {
    color: #2d2829;
    text-decoration: none;
}

.social-list {
    /* Сбросьте стили списка по умолчанию */
    margin: 0;
    padding: 0;
    list-style: none;

    /* Добавьте стили списку */
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.social-item {
    /* Установите отступ справа */
    margin-right: 25px;
}
